!.gitkeep

.idea/

.DS_Store
composer.lock

#user defined
vpn/
nbproject/
app/config/local/@erik\.selecky\.neon

#modules
node_modules/
vendor/*
!vendor/others/

#generated
log/
data/
temp/

#assets
www/webtemp/
www/plugins/
www/data/
www/build/
www/css/

#yarn
yarn.lock
yarn-error.log

#npm
package-lock.json

#user configs
app/config/local/@andrej.neon
